%li
  .item
    - if item.images.present?
      = image_tag item.images[0].image.url, class: 'item-img',width: '100%',height: '100%'
    - else
      = image_tag "",class: 'item-img',width: '100%',height: '100%'
    .plice
      = "¥#{item.price}"
  .item-name
    = item.name
  - if user_signed_in? && current_user.id == item.saler_id
    = link_to '編集', edit_item_path(item)
    = link_to "削除", item_path(item), method: :delete, class: "items__gray"
