.wrapper
  = render  "header"
  .top__content
    .top__content--header
      %h1
      .top__content--header--list
        %ul
          %li
            レディース
          %li
            メンズ
          %li
            家電・スマホ・カメラ
          %li
            おもちゃ・ホビー・ホビー・グッズ

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            レディース新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @ladies.each do |item|
              = render partial: "item", locals: { item: item }

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            メンズ新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @mens.each do |item|
              = render partial: "item", locals: { item: item }

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            家電・スマホ・カメラ新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @cosmetics.each do |item|
              = render partial: "item", locals: { item: item }
    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            おもちゃ・ホビー・グッズ新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @hobby.each do |item|
              = render partial: "item", locals: { item: item }

    .top__content
    .top__content--header
      %h1
        人気のブランド
      .top__content--header--list
        %ul
          %li
            シャネル
          %li
            ルイヴィトン
          %li
            シュプリーム
          %li
            ナイキ

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            シャネル新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @chanel.each do |item|
              = render partial: "item", locals: { item: item }

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            ルイヴィトン新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @louis_vuitton.each do |item|
              = render partial: "item", locals: { item: item }

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            シュプリーム新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @supreme.each do |item|
              = render partial: "item", locals: { item: item }

    .top__content--main
      .top__main-box
        .top__main-h1
          %h2
            ナイキ新着アイテム
          %h3
            もっと見る
            %i.fa.fa-chevron-right
        .top__main-m1
          %ul
            - @nike.each do |item|
              = render partial: "item", locals: { item: item }
  = render "shared/new-item"
  -# フッターを呼び込み
  = render "footer"
