= render 'toppage/header'
%section.item-container
  .item-name
    = @item.name
  .item-content.clearfix
    .item-content__photo
      .item-content__photo--top
        =image_tag @item.images[0].image.url ,class:"big_image"
            
      .item-content__photo--bottom
        - @item.images.each do |image|
          .item-content__photo--bottom__pic
            = image_tag image.image.url,class:"mini_image" 

    %table.item-content__table
      %tr
        %th
          出品者
        %td
          =link_to do
            = @item.saler.nickname
          .rating
            .rating__counts
              %i.far.fa-laugh
              .rating__counts--good
                1
            .rating__counts
              %i.far.fa-meh
              .rating__counts--normal
                1
            .rating__counts
              %i.far.fa-frown
              .rating__counts--bad
                1
      %tr
        %th
          カテゴリー
        %td
          =link_to do
            %div
            
          =link_to do
            %div
              
          =link_to do
            %div
              = @item.category.name
      %tr
        %th
          ブランド
        %td
          - if @item.brand
            =link_to do
              =@item.brand.name
          - else
            なし
      %tr
        %th
          商品の状態
        %td
          = @item.condition
      %tr
        %th
          配送料の負担
        %td
          = @item.postage
      %tr
        %th
          配送の方法
        %td
          = @item.delivery_method
      %tr
        %th
          発送元地域
        %td
          =link_to do
            =@item.region
      %tr
        %th
          発送日の目安
        %td
          = @item.shipping_date
  .item-price 
    %span.item-price--yen
      ="¥#{@item.price}"
    %span.item-price--tax
      = @item.postage
  - if @item.buyer_id != nil
    = link_to '売り切れです', root_path, class: "buy-btn"
  - elsif user_signed_in?
    - if @item.saler_id == current_user.id
      = link_to '自分の商品です', root_path, class: "buy-btn"
    - elsif @item.buyer_id == nil
      = link_to '購入画面に進む', purchase_item_path(@item), class: "buy-btn"
  - else
    = link_to 'ログインして購入', new_user_session_path, class: "buy-btn"
    = link_to '新規会員登録して購入', signup_index_path, class: "buy-btn"
  .item-description
    = @item.detail
  .item-buttons.clearfix
    .item-buttons--left
      %button.item-btn
        %i.far.fa-heart
        %span
          いいね!
        %span
          3
      =link_to class: "item-btn report" do
        %i.far.fa-flag
        %span 不適切な内容の報告
    .item-buttons--right
      = link_to "https://www.mercari.com/jp/safe/description/" do
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み

        -# 編集・削除ボタンの実装



  .items_line
  -# ログインしている＆かつ自分の商品の場合のみ表示させる
  .items__box
    -# -if 文を記述する
    .items__box--btn
      - if user_signed_in? && current_user.id == @item.saler_id
        .items__red
          = link_to '編集', edit_item_path(@item)
        %span
          or
        .items__gray
          = link_to "削除", item_path(@item), method: :delete, class: "items__gray"

.item-comments
  .item-comments__content
    .item-comments__content__form.clearfix
      %ul
        %li
          =link_to do
            %figure
              %div
                = image_tag "mako2.jpg"
              %figcaption
                真子
          .message
            .message__text
              購入します。
            .message__time
              %time
                %i.far.fa-clock
                %span
                  2時間前
              %i.far.fa-flag
    .item-comments__content__form
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.item-comments__content__form--box
      %button.submit
        %span コメントする


.move-link.clearfix
  = link_to '前の商品', 'http://www.google.co.jp/',class: "move-link--prev"
  = link_to '次の商品', 'http://www.google.co.jp/',class: "move-link--next"

.sns-list
  .sns-list--boxes
    %li
      = link_to "https://www.facebook.com/", class: "contents__btn" do
        %i.fab.fa-facebook-square
    %li
      = link_to "https://www.twitter.com/", class: "contents__btn" do
        %i.fab.fa-twitter
    %li
      = link_to "https://www.line.com/", class: "contents__btn" do
        %i.fab.fa-line
    %li
      = link_to "https://www.pinterest.com/", class: "contents__btn" do
        %i.fab.fa-pinterest

/出品者に関する商品
.other-items-container
  .other-items-title
    = link_to '#',class:"other-items-title__word link2" do
      ="#{@item.saler.nickname}さんのその他の商品"
    /商品一覧
    .user-other-items
      -@saler_items.each do |item|
        .user-other-items__box
          /1枚目の画像のみ表示
          = link_to image_tag(item.images[0].image.url,size:'220x220',class:"user-other-items__box--image"),item_path(item)
          .user-other-items__box__body
            .user-other-items__box__body--name
              =item.name
            /商品価格
            .user-other-items__box__body--price.flex
              ="¥#{item.price}"
              .item-button-container__left{id: "like-#{item.id}"}
                .item-button-container__right
                  %i.fas.fa-heart#show-hert-red
        
    /関連商品に関する出品
.other-items-container
  .other-items-title
    = link_to '#' ,class:"other-items-title__word link2" do
      ="#{@item.brand.name}のその他商品"
    .user-other-items
      -@brand_items.each do |item|
        .user-other-items__box
          /1枚目の画像のみ表示
          = link_to image_tag(item.images[0].image.url,size:'220x220',class:"user-other-items__box--image"),item_path(item)
          .user-other-items__box__body
            .user-other-items__box__body--name
              =item.name
            /商品価格
            .user-other-items__box__body--price.flex
              ="¥#{item.price}"
              .item-button-container__left{id: "like-#{item.id}"}
                .item-button-container__right
                  %i.fas.fa-heart#show-hert-red

= render 'toppage/footer'